Build a Regression Model in Keras

In [53]:
import pandas as pd
import numpy as np

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv2D, MaxPooling2D
from sklearn.model_selection import  train_test_split
from sklearn.metrics import mean_squared_error

Read Data

In [54]:
# read data into pandas dataframe
df = pd.read_csv('concrete_data.csv')
df.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [55]:
# split data into input and target
col = df.columns.to_list()
col.remove('Strength')

x = df.loc[:,col]
y = df.loc[:,'Strength']

In [56]:
X_train.shape[1]

8

### **A. Build a baseline model**
Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

In [57]:
mse_A = []

for i in range(50):
  
    
  model = Sequential([
                      Dense(units = 10, activation='relu', input_shape = (X_train.shape[1],)),
                      Dense(1)
                      
  ])


  #Compile model
  model.compile(optimizer='adam', loss='mean_squared_error')

  #fit the model
  model.fit(X_train, y_train, epochs=50, verbose=0)

  #predict output on test set
  y_pred = model.predict(X_test)
  
  mse_A.append(mean_squared_error(y_test, y_pred))
print('Mean of MSE', np.mean(mse_A))
print('standard deviation of MSE', np.std(mse_A))

Mean of MSE 376.1265178222822
standard deviation of MSE 105.9024539090891

## **B. Normalize the data**
Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

In [58]:
X_norm = (x - x.mean()) / x.std()
X_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

In [59]:
mse_B = []

for i in range(50):
    
    #Split Data to Train and Test Set
    X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size = 0.3)

    #Create model
    model = Sequential([
                      Dense(units = 10, activation='relu', input_shape = (X_train.shape[1],)),
                      Dense(1)
                      
  ])

    #Compile model
    model.compile(optimizer='adam', loss='mean_squared_error')

    #fit the model
    model.fit(X_train, y_train, epochs=50, verbose=0)

    #predict output on test set
    y_pred = model.predict(X_test)
    
    mse_B.append(mean_squared_error(y_test, y_pred))
print('Mean of MSE', np.mean(mse_B))
print('standard deviation of MSE', np.std(mse_B))

Mean of MSE 350.37432489077435
standard deviation of MSE 93.53550418606075

MSE for the model with normalised data is slightely better than the model with unnormalised data

### **C. Increase the number of epochs**

Repeat Part B but use 100 epochs this time for training.

How does the mean of the mean squared errors compare to that from Step B?

In [60]:
mse_C = []

for i in range(50):
    
    #Split Data to Train and Test Set
    X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size = 0.3)

    #Create model
    model = Sequential([
                      Dense(units = 10, activation='relu', input_shape = (X_train.shape[1],)),
                      Dense(1)
                      
  ])

    #Compile model
    model.compile(optimizer='adam', loss='mean_squared_error')

    #fit the model
    model.fit(X_train, y_train, epochs=100, verbose=0)

    #predict output on test set
    y_pred = model.predict(X_test)
    
    mse_C.append(mean_squared_error(y_test, y_pred))
print('Mean of MSE', np.mean(mse_C))
print('standard deviation of MSE', np.std(mse_C))

Mean of MSE 169.9657580703884
standard deviation of MSE 28.22380258755561

MSE for the model with normalised data and with increased no. of expochs is highly better than the model B with less no. of epochs

### **D. Increase the number of hidden layers**

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

In [61]:
mse_D = []

for i in range(50):
    
    #Split Data to Train and Test Set
    X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size = 0.3)

    #Create model
    model = Sequential([
                      Dense(units = 10, activation='relu', input_shape = (X_train.shape[1],)),
                      Dense(units = 10, activation='relu'),
                      Dense(units = 10, activation='relu'),


                      Dense(1)
                      
  ])

    #Compile model
    model.compile(optimizer='adam', loss='mean_squared_error')

    #fit the model
    model.fit(X_train, y_train, epochs=100, verbose=0)

    #predict output on test set
    y_pred = model.predict(X_test)
    
    mse_D.append(mean_squared_error(y_test, y_pred))
print('Mean of MSE', np.mean(mse_D))
print('standard deviation of MSE', np.std(mse_D))

Mean of MSE 92.051675393187
standard deviation of MSE 20.135939236742747

MSE for the model with normalised data and with increased no. of expochs and number of layers is highly better than the model B with less no. of expochs and one hidden layer